<section class="showcase">
  <div class="showcase-content">
    <h1>Volida</h1>
    <p>African News and Entertainment</p>
    <button class="btn btn-lg" routerLink="/signup">Try It Now</button>
  </div>
</section>

<section class="tabs">
  <div class="wrapper">
    <div id="tab-1" class="tab-item tab-border">
      <i class="fa fa-desktop fa-3x"></i>
      <p class="hide-sm">What is Volida?</p>
    </div>
    <!-- <div id="tab-2" class="tab-item tab-border">
            <i class="fa fa-desktop fa-3x"></i>
            <p class="hide-sm">What is Volida?</p>
        </div> -->
  </div>
</section>

<section class="tab-content">
  <div class="wrapper">
    <!--tab content 1-->
    <div id="tab-1-content" class="tab-content-item show">
      <div class="tab-1-content-inner">
        <div>
          <p class="text-lg">
            Volida is a media company with 3 branches. The first branch of the
            company is Volida News which brings you the latest news on anything
            Africa. The second branch of the company is Volida Films which
            offers original and licensed films of African stories. the third
            branch is Volida PPV which brings you live streams of the biggest
            events in Africa.
          </p>
          <button class="btn btn-lg" routerLink="/signup">Get Started</button>
        </div>
        <img
          src="../../../assets/alice-donovan-rouse-yu68fUQDvOI-unsplash.jpg"
          alt="stream-icon"
        />
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
