<section class="showcase">
  <div class="showcase-content">
    <h1>Volida</h1>
    <p>Everything music and entertainment</p>
    <button class="btn btn-lg" routerLink="/signup">Try It Now</button>
  </div>
</section>

<section class="tabs">
  <div class="wrapper">
    <div id="tab-1" class="tab-item tab-border">
      <i class="fa fa-desktop fa-3x"></i>
      <p class="hide-sm">Why Volida?</p>
    </div>
  </div>
</section>

<section class="tab-content">
  <div class="wrapper">
    <div id="tab-1-content" class="tab-content-item show">
      <div class="tab-1-content-inner">
        <div>
          <p class="text-lg">
            We started Volida, to give fans more access to more shows and events
            from their favourite entertainers.
          </p>
          <button class="btn btn-lg" routerLink="/signup">Get Started</button>
        </div>
        <img
          src="../../../assets/alice-donovan-rouse-yu68fUQDvOI-unsplash.jpg"
          alt="stream-icon"
        />
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
