<section class="showcase">
  <div class="showcase-content">
    <h1>
      Welcome to Volida - your one-stop destination for the most exciting music
      events in the world!
    </h1>
    <!-- <p>Everything music and entertainment</p>
    <button class="btn btn-lg" routerLink="/signup">Try It Now</button> -->
  </div>
</section>

<section class="tabs">
  <div class="wrapper">
    <div id="tab-1" class="tab-item tab-border">
      <i class="fa fa-desktop fa-3x"></i>
      <p class="hide-sm">Why Volida?</p>
    </div>
  </div>
</section>

<section class="tab-content">
  <div class="wrapper">
    <div id="tab-1-content" class="tab-content-item show">
      <div class="tab-1-content-inner">
        <div>
          <p class="text-lg">
            We are a passionate team of music lovers who believe that great
            music should be experienced live and shared with others. That's why
            we have created a platform that brings together the best talents
            from around the world and delivers unforgettable music experiences
            to fans everywhere. Our events are designed to engage and entertain,
            featuring cutting-edge technology and innovative production
            techniques to create truly immersive experiences. Whether you prefer
            virtual shows or hybrid events that combine the best of both worlds,
            we have something for everyone. Our lineup includes some of the most
            talented and up-and-coming artists, as well as established names in
            the music industry.
          </p>
          <button class="btn btn-lg" routerLink="/signup">Browse Events</button>
        </div>
        <img
          src="../../../assets/alice-donovan-rouse-yu68fUQDvOI-unsplash.jpg"
          alt="stream-icon"
        />
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
