<!-- <footer class="text-center text-lg-start bg-light text-muted">
  
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"></section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
              <a routerLink="/">Volida</a>
          </h6>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <a routerLink="/signup">Sign Up</a>
          </h6>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <a routerLink="about">About</a>
          </h6>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" routerLink="#">Volida</a>
  </div>
</footer> -->

<footer class="footer">
  <div class="footer-cols">
    <ul>
      <li><a routerLink="/">Volida</a></li>
    </ul>
    <ul>
      <li><a routerLink="about">About</a></li>
    </ul>
    <ul>
      <li><a href="#">Questions? Call 1-304-952-4455</a></li>
    </ul>
  </div>

</footer>