<div class="list">
  <div class="list-banner">
    <img
      class="list-banner-img"
      src="../../../assets/comedy1.jpg"
      alt="background image"
    />
  </div>
  <div class="list-content">
    <div class="list-wrapper">
      <div class="list-header">
        <h1 class="list-header-title">Volida Films & Live Streams</h1>
        <p class="list-header-subtitle">
          Volida Films & Live Streams offer original and licensed content of
          African stories, as well as live streams of the biggest events in
          Africa.
        </p>
      </div>
    </div>
  </div>
  <!-- list of up coming events -->
  <div class="events-container">
    <h4 class="event-header-title">Latest Films</h4>
    <div class="events">
      <div *ngFor="let event of events">
        <div class="event" (click)="detailPage(event.sys.id)">
          <div class="event-thumb-container">
            <img
              src="{{ event.fields.image.fields.file.url }}"
              alt="thumbnail"
              class="event-thumbnail"
            />
          </div>
          <div class="event-description">
            <p class="event-name">{{ event.fields.title }}</p>
            <p class="event-info">{{ event.fields.DateAndTime }}</p>
            <p class="event-info">{{ event.fields.location }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
