.navbar-brand {
  width: 100px;
  text-decoration: none;
  color: #fff;
}

.navbar {
  background-color: #000000;
  color: #fff;
}

a {
  color: #fff;
}

.nav-link {
  font-family: "Ubuntu", sans-serif;
}
