<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center pb-4 pt-3">
          <span class="text-dark"><i class="fa fa-lock"></i> Volida </span> Sign
          Up
        </h1>
        <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
        <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              class="form-control"
              type="text"
              ngModel
              name="firstName"
              #firstNameInput="ngModel"
              [ngClass]="{
                'is-invalid': firstNameInput.errors && firstNameInput.touched
              }"
              required
            />
            <div
              [hidden]="!firstNameInput.errors?.['required']"
              class="invalid-feedback"
            >
              First name is required
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
              class="form-control"
              type="text"
              ngModel
              name="lastName"
              #lastNameInput="ngModel"
              [ngClass]="{
                'is-invalid': lastNameInput.errors && lastNameInput.touched
              }"
              required
            />
            <div
              [hidden]="!lastNameInput.errors?.['required']"
              class="invalid-feedback"
            >
              Last name is required
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              class="form-control"
              type="email"
              ngModel
              name="email"
              #emailInput="ngModel"
              [ngClass]="{
                'is-invalid': emailInput.errors && emailInput.touched
              }"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
              required
            />
            <div
              [hidden]="!emailInput.errors?.['required']"
              class="invalid-feedback"
            >
              Email is required
            </div>
            <div
              [hidden]="!emailInput.errors?.['pattern']"
              class="invalid-feedback"
            >
              Email is not valid
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              class="form-control"
              type="password"
              ngModel
              name="password"
              #passwordInput="ngModel"
              [ngClass]="{
                'is-invalid': passwordInput.errors && passwordInput.touched
              }"
              minlength="6"
              required
            />
            <div
              [hidden]="!passwordInput.errors?.['required']"
              class="invalid-feedback"
            >
              Password is required
            </div>
            <div
              [hidden]="!passwordInput.errors?.['minlength']"
              class="invalid-feedback"
            >
              Password must contain atleast 6 characters
            </div>
          </div>
          <input type="submit" value="Sign Up" class="btn btn-block sign-up" />
        </form>
      </div>
    </div>
  </div>
</div>
