<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center pb-4 pt-3">
          <span class="text-dark"><i class="fa fa-lock"></i> Volida </span> Sign Up
        </h1>
        <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input class="form-control" type="text" ngModel name="firstName" #firstNameInput="ngModel" required>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input class="form-control" type="text" ngModel name="lastName" #lastNameInput="ngModel" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" ngModel name="email" #emailInput="ngModel" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" ngModel name="password" #passwordInput="ngModel" required>
          </div>
          <input type="submit" value="Sign Up" class="btn btn-block sign-up">
        </form>
      </div>
    </div>
  </div>
</div>