<div class="wrapper">
    <div class="row profile">
        <div class="row" *ngIf="recentStream.fields">
            <div class="col-sm-12 col-md-12 col-xs-12">
                
                <div class="row profile-header">
                    <div class="col-xs-12 col-sm-8 col-md-8 hidden-xs">
                        <div id="myProfileCarousel" class="carousel slide" data-ride="carousel"> 
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <div class="special-img-container" class="col-xs-6 col-sm-6 col-md-6">
                                        <img class="responsive" src="{{recentStream.fields.image.fields.file.url}}" alt="">
                                    </div>
                                </div>
                            </div>  
                        </div> 
                      </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 hidden-xs">
                          <p class="list-unstyled special-name-ul">
                              <span>{{recentStream.fields.title}}</span>
                          </p>
                          <p class="list-unstyled special-name-ul">
                              <span><h6>CAST:</h6> {{recentStream.fields.cast}}</span> 
                          </p>
                          <p class="list-unstyled special-name-ul">
                               <span><h6>DIRECTOR:</h6> {{recentStream.fields.director}}</span>
                          </p>
                    </div>
                </div>
    
                <div class="row profile-content">
                    <div class="col-xs-12 col-sm-12 col-md-12 profile-detail-div">
                        <ul class="list-unstyled profile-detail-ul">
                            
                            <li class="biography">
                                <h4>About this Event</h4>
                                {{recentStream.fields.description}}
                            </li>
                            <li class="video" *ngIf="hideVideolink">
                                <h4>Video</h4>
                                <ul class="list-unstyled">
                                  <iframe [src]="recentStream.fields.videoUrl | safeurl" frameborder="0" width="100%" height="600" allowfullscreen></iframe>
                                </ul>
                            </li>
                        </ul>
                        <button class="btn btn-block purchaseBtn" (click)="onPayment(recentStream.fields.stripePriceId)" *ngIf="!hideVideolink">Buy On-Demand ${{recentStream.fields.amountInCents / 100}}<small> USD </small></button>
                    </div>                                                
                </div>    
            </div>        
        </div>
    </div>
    <app-footer></app-footer>