<div class="info-section">
  <div class="header">
      <h1>What Is Volida?</h1>
  </div>
  <div class="text">
    <p> 
      Volida is an Atlanta based comedy promotion and production company, that offers live streams direct from comedy clubs and comedy shows Around Africa, plus an unrivaled archive of comedy specials from African comics available on demand. Watch comedy sets from your favourite comedians, as well rising stars at the best prices.
    </p>
  </div>
  <div class="boxes">
    <div class="box">
        <h2 class="title">Live Stream</h2>
        <p class="description">Every month, there are several live streams from various comedy clubs and gigs around Africa.</p>
    </div>
      <div class="box">
          <h2 class="title">Comedy Specials</h2>
          <p class="description">A diverse selection of comedy specials from comedians around Africa.</p>
      </div>
      <div class="box">
        <h2 class="title">Best Prices</h2>
        <p class="description">For a one-time cost of $149.99, you may watch live comedy shows and access a library of standup specials.</p>
    </div>
  </div>
</div>