<section class="showcase">
  <div class="showcase-content">
    <h1>Volida</h1>
    <p>EVERYTHING AFRICAN MUSIC AND ENTERTAINMENT</p>
    <button class="btn btn-lg" routerLink="/signup">Try It Now</button>
  </div>
</section>

<section class="tabs">
  <div class="wrapper">
    <div id="tab-2" class="tab-item tab-border">
      <i class="fa fa-desktop fa-3x"></i>
      <p class="hide-sm">What is Volida?</p>
    </div>
  </div>
</section>

<section class="tab-content">
  <div class="wrapper">
    <div id="tab-2-content" class="tab-content-item">
      <div class="tab-2-content-top">
        <p class="text-lg">
          Volida is a media company that brings you African music and
          entertainment. Your go-to for virtual events, news, and films.
        </p>
        <button
          class="btn btn-lg"
          data-toggle="modal"
          data-target="#requestBookModal"
        >
          Watch a quick demo
        </button>
      </div>
      <div class="tab-2-content-bottom">
        <div class="text-center">
          <h1>1.</h1>
          <p class="text-md">Virtual Events</p>
          <p>
            Your go-to for live streams of the biggest events from African
            entertainers.
          </p>
        </div>

        <div class="text-center">
          <h1>2.</h1>
          <p class="text-md">News</p>
          <p>Your go-to for the latest news on everything African music.</p>
        </div>

        <div class="text-center">
          <h1>3.</h1>
          <p class="text-md">Films</p>
          <p>
            Your go-to for films telling the stories of African entertainers.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>

<!-- Modal -->
<div
  class="modal fade"
  id="requestBookModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="requestBookModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Quick demo video</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe
          src="https://www.youtube.com/embed/5Okw83K3OD8?autoplay=0"
          frameborder="0"
          width="100%"
          height="400"
          allowfullscreen
          controls="0"
          autoplay="0"
        ></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
