<section class="showcase">
  <div class="showcase-content">
    <h1>Your go-to for everything music and entertainment</h1>
    <p>Volida provides you with the latest virtual events, news, and films.</p>
    <button class="btn btn-lg" routerLink="/signup">Try It Now</button>
  </div>
</section>

<section class="tabs">
  <div class="wrapper">
    <div id="tab-2" class="tab-item tab-border">
      <i class="fa fa-desktop fa-3x"></i>
      <p class="hide-sm">What is Volida?</p>
    </div>
  </div>
</section>

<section class="tab-content">
  <div class="wrapper">
    <div id="tab-2-content" class="tab-content-item">
      <div class="tab-2-content-top">
        <p class="text-lg">
          Volida is your one-stop shop for all things music and entertainment.
          Used by 2,000+ fans.
        </p>
        <button
          class="btn btn-lg"
          data-toggle="modal"
          data-target="#requestBookModal"
        >
          Watch a quick demo
        </button>
      </div>
      <div class="tab-2-content-bottom">
        <div class="text-center">
          <h1>1.</h1>
          <p class="text-md">Virtual Events</p>
          <p>
            Your go-to for live streams of the biggest events from the best
            entertainers.
          </p>
        </div>

        <div class="text-center">
          <h1>2.</h1>
          <p class="text-md">News</p>
          <p>
            Your go-to for the latest news on everything music and
            entertainment.
          </p>
        </div>

        <div class="text-center">
          <h1>3.</h1>
          <p class="text-md">Films</p>
          <p>Your go-to for films telling the stories of entertainers.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>

<!-- Modal -->
<div
  class="modal fade"
  id="requestBookModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="requestBookModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Click to interact
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <iframe
          src="https://www.youtube.com/embed/5Okw83K3OD8?autoplay=0"
          frameborder="0"
          width="100%"
          height="400"
          allowfullscreen
          controls="0"
          autoplay="0"
        ></iframe> -->

        <div
          style="
            position: relative;
            padding-bottom: calc(50.72916666666667% + 40px);
            height: 0;
          "
        >
          <iframe
            src="https://demo.arcade.software/w1UBoBRK7S9KdSSH7u4X?embed"
            frameborder="0"
            loading="lazy"
            webkitallowfullscreen
            mozallowfullscreen
            allowfullscreen
            style="
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            "
          ></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
