.showcase {
  width: 100%;
  height: 60vh;
  position: static;
  background: url(../../../assets/alessandro-sacchi-nENDChkU9ss-unsplash.jpg)
    no-repeat center center/cover;
}

.showcase-content h1 {
  color: #fff;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 1.1;
  margin: 0 0 2rem;
  text-align: center;
  padding-top: 9rem;
}

.showcase-content p {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.25;
  margin: 0 0 2rem;
  text-align: center;
}

button {
  background-color: var(--primary-color);
  border-radius: 30px;
  font-size: 1.1rem;
  border: none;
  color: #fff;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
}

// New style
.events-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
  position: static;
}
.event-header-title {
  text-align: center;
}

.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 70px auto;
  position: relative;
  //top: -150px;
}

.event {
  width: 280px;
  margin: 10px;
  height: 330px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #202020;
  box-shadow: 4px 3px 8px 0px rgb(200 152 44 / 22%);
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 4px 3px 11px 6px rgb(200 152 44 / 46%);
    transform: translateY(-3px);
  }

  &-thumb-container {
    background-color: #000;
    position: relative;
    height: 172px;
    color: #fff;
    text-align: center;
  }

  &-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 172px;
  }

  &-description {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 157px;
  }

  &-name {
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 20px;
    white-space: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-info {
    color: #fff;
    font-weight: 200;
    font-size: 10px;
    white-space: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-date {
    display: flex;
    color: #fff;
  }
}

@media (max-width: 960px) {
  .showcase {
    height: 75vh;
  }

  .hide-sm {
    display: none;
  }

  .showcase-content h1 {
    font-size: 2rem;
    line-height: 1;
  }

  .showcase-content p {
    font-size: 0.6rem;
    line-height: 1;
  }

  button {
    font-size: 0.6rem;
    padding: 0.4rem 1rem;
  }

  .text-lg {
    font-size: 1.3rem;
  }

  .text-md {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .showcase::after {
    box-shadow: inset 20px 20px 250px #000000, inset -20px -20px 250px #000000;
  }

  #tab-1-content .tab-1-content-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }

  #tab-2-content .tab-2-content-top {
    display: block;
    text-align: center;
  }

  #tab-2-content .tab-2-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    text-align: center;
  }

  .section-gallary .gallary {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-gallary .gallary a:first-child {
    grid-row: 1/1;
    grid-column: 1/1;
  }

  .section-gallary .gallary a:nth-child(2) {
    grid-row: 2/2;
    grid-column: 2/4;
  }

  .section-gallary .gallary a:last-child {
    display: none;
  }
}
