<section class="showcase">
  <div class="showcase-content">
    <h1>Volida PPV</h1>
    <p>Live stream the biggest music events from the top entertainers.</p>
    <button class="btn btn-lg" routerLink="/signup">Try It Now</button>
  </div>
</section>

<section class="tabs">
  <div class="wrapper">
    <div id="tab-1" class="tab-item tab-border">
      <i class="fa fa-desktop fa-3x"></i>
      <p class="hide-sm">What is Volida PPV?</p>
    </div>
  </div>
</section>

<section class="tab-content">
  <div class="wrapper">
    <!--tab content 1-->
    <div id="tab-1-content" class="tab-content-item show">
      <div class="tab-1-content-inner">
        <div>
          <p class="text-lg">
            Volida PPV is a branch of Volida Media, that offers live streams of
            the biggest events from the top entertainers.
          </p>
          <button class="btn btn-lg" routerLink="/signup">Get Started</button>
        </div>
        <img
          src="../../../assets/bekky-bekks-RNAqMZtAT4w-unsplash.jpg"
          alt="stream-icon"
        />
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
