.showcase {
  width: 100%;
  height: 60vh;
  position: relative;
  background: url(../../../assets/bekky-bekks-_K4RbKuR-Q8-unsplash.jpg)
    no-repeat center center/cover;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 80px 80px 250px #000000, inset -80px -80px 250px #000000;
}

.showcase-content {
  position: relative;
  margin: auto;
  display: flex;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 9rem;
}

.showcase-content h1 {
  color: #fff;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 1.1;
  margin: 0 0 2rem;
}

.showcase-content p {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.25;
  margin: 0 0 2rem;
}

/*tabs*/
.tabs {
  padding-top: 1rem;
  border-bottom: 3px solid #3d3d3d;
}

.tabs .wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wrapper {
  max-width: 70%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.tabs p {
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

.tabs .wrapper > div {
  padding: 1.5rem;
}

.tabs .wrapper > div:hover {
  cursor: pointer;
}

.tab-border {
  border-bottom: var(--primary-color) 4px solid;
}

.tab-content {
  padding: 3rem 0;
}

#tab-1-content .tab-1-content-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
}

#tab-2-content .tab-2-content-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
}

#tab-2-content .tab-2-content-bottom {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
}

.text-lg {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-md {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

button {
  background-color: var(--primary-color);
  border-radius: 30px;
  font-size: 1.1rem;
  border: none;
  color: #fff;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
}

@media (max-width: 960px) {
  .showcase {
    height: 70vh;
  }

  .hide-sm {
    display: none;
  }

  .showcase-content h1 {
    font-size: 2rem;
    line-height: 1;
  }

  .showcase-content p {
    font-size: 0.6rem;
    line-height: 1;
  }

  button {
    font-size: 0.6rem;
    padding: 0.4rem 1rem;
  }

  .text-lg {
    font-size: 1.3rem;
  }

  .text-md {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .showcase::after {
    box-shadow: inset 20px 20px 250px #000000, inset -20px -20px 250px #000000;
  }

  #tab-1-content .tab-1-content-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }

  #tab-2-content .tab-2-content-top {
    display: block;
    text-align: center;
  }

  #tab-2-content .tab-2-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    text-align: center;
  }
}
