/*tabs*/
.tabs {
  padding-top: 1rem;
  border-bottom: 3px solid #3d3d3d;
}

.tabs .wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wrapper {
  max-width: 70%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem ;
}

.tabs p {
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

.tabs .wrapper > div{
  padding: 1.5rem
}

.tabs .wrapper > div:hover {
  cursor: pointer;
}

.tab-border {
  border-bottom: var(--primary-color) 4px solid;
}

.tab-content {
  padding: 3rem 0;
}

#tab-1-content .tab-1-content-inner{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
}

#tab-2-content .tab-2-content-top{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
}

#tab-2-content .tab-2-content-bottom{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
}

.text-lg {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-md {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.text-center  {
  text-align: center;
}

button {
  background-color: var(--primary-color);
  border-radius: 30px;
  font-size: 1.1rem;
  border: none;
  color: #fff;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
}

@media(max-width: 960px) {
  .showcase {
    height: 75vh;
  }

  .hide-sm {
    display: none;
  }

  .showcase-content h1 {
    font-size: 2.0rem;
    line-height: 1;
  }

  .showcase-content p {
    font-size: 0.6rem;
    line-height: 1;
  }

  button {
    font-size: 0.6rem;
    padding: 0.4rem 1rem;
  }

  .text-lg {
    font-size: 1.3rem;
  }

  .text-md {
    font-size: 1rem;
  }
}

@media(max-width: 700px) {
  .showcase::after {
    box-shadow: inset 20px 20px 250px #000000, inset -20px -20px 250px #000000;
  }

  #tab-1-content .tab-1-content-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }

  #tab-2-content .tab-2-content-top {
    display: block;
    text-align: center;
  }

  #tab-2-content .tab-2-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    text-align: center;
  }

  .section-gallary .gallary {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-gallary .gallary a:first-child {
    grid-row: 1/1;
    grid-column: 1/1;
  }

  .section-gallary .gallary a:nth-child(2) {
    grid-row: 2/2;
    grid-column: 2/4;
  }

  .section-gallary .gallary a:last-child {
    display: none;
  }
}