<section class="tabs">
  <div class="wrapper">
    <div id="tab-2" class="tab-item tab-border">
      <i class="fa fa-question fa-3x"></i>
      <p class="hide-sm">FAQ</p>
    </div>
  </div>
</section>

<section class="tab-content">
  <div class="wrapper">
    <div id="tab-2-content" class="tab-content-item">
      <div class="tab-2-content-bottom">
        <div class="text-center">
          <h1 class="text-lg">What is Volida?</h1>
          <p>
            Volida is a streaming service that gives users worldwide access to
            live events, music, and comedy. Watch award-winning artists'
            performances from the comfort of your home. It's quite easy to get
            started! Create an account, buy the live stream, and watch!
          </p>
        </div>

        <div class="text-center">
          <h1 class="text-lg">How does Volida work?</h1>
          <p>
            Volida can be viewed on any device with an internet connection.
            Volida is compatible with any smartphone, tablet, computer, or
            laptop.
          </p>
        </div>

        <div class="text-center">
          <h1 class="text-lg">Can I purchase a show from Nigeria?</h1>
          <p>
            Volida streams can be purchased in Nigeria. Simply create a
            flutterwave barter dollar card, which will allow you to make
            payments anywhere in the world where your local card would not due
            to restrictions. Please see
            <a
              href="https://www.flutterwave.com/us/blog/how-to-create-a-dollar-card-with-ease"
              target="_blank"
              >here</a
            >
            for further information on how to make a barter card.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
