.login {
  background-color: var(--primary-color);
  border-radius: 30px;
  font-size: 1.1rem;
  border: none;
  color: #fff;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
}

.login-header {
  color: #000000;
}
