<div class="row row-cols-1 pt-5 mb-3 text-center">
  <div *ngFor="let price of prices" class="col">
    <div class="card mb-6 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">{{ price.nickname }}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          ${{ price.unit_amount / 100 }}
          <!-- <small class="text-muted fw-light">every month</small> -->
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Stream music shows and concerts in real time.</li>
          <li>Access Live streams from comedy clubs and shows.</li>
          <li>Access a wide range of comedy specials.</li>
        </ul>

        <button class="w-100 btn btn-lg" (click)="onSubscribe(price.id)">
          Subscribe
        </button>
      </div>
    </div>
  </div>
</div>
