<div class="container">
  <section class="tab-content">
    <div class="wrapper">

        <!--tab content 2-->
        <div id="tab-2-content" class="tab-content-item">
            <div class="tab-2-content-top">
                <p class="text-lg">
                  Refer a friend to Volida, and you and your friend will get $5 each! To get your money, the referred friend has to do 3 things.
                </p>
            </div>
            <div class="tab-2-content-bottom">
                <div class="text-center">
                    <h1>1.</h1>
                    <p class="text-md">Create an account with Volida</p>
                </div>

                <div class="text-center">
                    <h1>2.</h1>
                    <p class="text-md">Purchase Big Brother Nigeria</p>
                </div>

                <div class="text-center">
                    <h1>3.</h1>
                    <p class="text-md">Sign up for referral program.</p>
                </div>
            </div>
        </div>
    </div>
</section>

  <div id="maitre-widget"></div>
</div>
