<section class="showcase">
  <div class="showcase-content">
    <h1>
      Find Your Next Favorite Artist on Volida's Free Live-Stream Concerts
    </h1>
    <p>
      Support Emerging Artists and Enjoy Unforgettable Performances, All for
      Free.
    </p>
  </div>
</section>

<section class="tabs">
  <div class="wrapper">
    <div id="tab-2">
      <p>Volida Free Events</p>
    </div>
  </div>
</section>

<div class="events">
  <div *ngFor="let event of events">
    <div class="event" (click)="detailPage(event.sys.id)">
      <div class="event-thumb-container">
        <img
          src="{{ event.fields.image.fields.file.url }}"
          alt="thumbnail"
          class="event-thumbnail"
        />
      </div>
      <div class="event-description">
        <p class="event-name">{{ event.fields.title }}</p>
        <p class="event-info">{{ event.fields.dateAndTime }}</p>
        <p class="event-info">{{ event.fields.location }}</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
