<div class="list">
  <div class="list-banner">
    <img
      class="list-banner-img"
      src="../../../assets/maria-oswalt-Pn36p9aJIrE-unsplash.jpg"
      alt="background image"
    />
  </div>
  <div class="list-content">
    <div class="list-wrapper">
      <div class="list-header">
        <h1 class="list-header-title">Volida Films</h1>
        <p class="list-header-subtitle">
          Watch Volida originals and licensed films about entertainers
        </p>
      </div>
    </div>
  </div>
  <!-- list of up coming events -->
  <div class="events-container">
    <h4 class="event-header-title">Latest Films</h4>
    <div class="events">
      <div *ngFor="let film of films">
        <div class="event" (click)="filmPage(film.sys.id)">
          <div class="event-thumb-container">
            <img
              src="{{ film.fields.image.fields.file.url }}"
              alt="thumbnail"
              class="event-thumbnail"
            />
          </div>
          <div class="event-description">
            <p class="event-name">{{ film.fields.title }}</p>
            <p class="event-info">Director: {{ film.fields.director }}</p>
            <p class="event-info">
              Release Year: {{ film.fields.releaseYear }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
