<div class="info-section">
  <div class="header">
      <h1>How It works</h1>
  </div>
  <div class="boxes">
      <div class="box">
          <div class="number">
              <h1>1.</h1>
          </div>
          <h2 class="title">Create Account</h2>
          <p class="description">Music Concerts</p>
      </div>
      <div class="box">
          <div class="number">
              <h1>2.</h1>
          </div>
          <h2 class="title">Pick Your Plan</h2>
          <p class="description">Comedy Showa</p>
      </div>
      <div class="box">
          <div class="number">
              <h1>3.</h1>
          </div>
          <h2 class="title">Access Shows</h2>
          <p class="description">Family</p>
      </div>
  </div>
  <button class="btn btn-lg" routerLink="/signup">Get Started</button>
</div>

